.div-form-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

form {
  border-radius: 8px;
  color: black;
  font-size: 18px;
  margin: 8px;
  padding: 16px;
  width: 80%;
}

textarea {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 8px;
}

select {
  border-left: none;
  border-right: none;
  border-top: none;
}

.attr-div-main {
  padding: 8px 0;
}

.attr-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.save-button {
  cursor: pointer;
  padding: 12px;
  width: 40%;
}

.save-button:active {
  background-color: rgb(255 90 95);
  color: white;
  cursor: pointer;
  padding: 12px;
  width: 100%;
}
