form {
  background-color: blanchedalmond;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  padding: 16px;
}

textarea {
  padding: 8px;
}


.attr-div-main {
  margin: 8px;
  padding: 8px;
}

.attr-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 4px;
}
