.input-div {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.xablau {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.name-input {
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 8px;
}

.attr-input {
  padding: 8px;
  width: 65%;
}

.select-input {
  padding: 8px;
  width: 100%;
}

.checkbox-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
